@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-Regular.ttf") format("woff2");
    /* font-weight: 500; */
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-SemiBold.ttf") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-Bold.ttf") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-ExtraBold.ttf") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-Black.ttf") format("woff2");
    font-weight: 900;
}